* {
    box-sizing: border-box;
}
body {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
    border: 2px solid;
}

.promo-container {
    background: cornsilk;
}

header {
    display: flex;
}

.branding {
    background: black;
    width:150px;
    height:45px;
    margin-right: auto;
}

.pill-button {
    display: inline-block;
    background: gray;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    
    
}
.pill-button:hover {
   
    transition: background-color 1.5s ease;
  background-color:transparent;
    color: black;
    
}


.promo {
    background: white;
    color: black;
    font-size: 18px;
}

/* Big Promo */

#big-promo {
    padding-top: 200px;
}

.promo-message {
    width: 60%;
    padding: 50px;
}

/* Product Features */

.product-features, .product-buy-it-now {
  display: flex;
}

.feature {
  text-align: center;
  padding: 20px;
}

.feature-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.product-buy-it-now {
  align-items: center;
}

.product-info {
  text-align: right;
}

/* Product Reviews */

#product-reviews {
  background: skyblue;
background-image: url("images/five.png");
 background-size: 100% 100%;
    background-repeat: no-repeat;   
  color: white;
  text-align: center;
  padding: 50px;
}



footer {
    display: flex;
    background: green;
    padding: 15px 10px 15px 10px;
    font-size: 12;
}
.footer-links {
    flex: 1;
}
.footer-copyright {
    text-align: right;
    flex: 1;
}
.footer-copyright p {
    margin: 0;
}
