body {
    background-color: lightgray;
}
.sizecolor {
    color: darkmagenta;
    font-size: 30px;
}
a:link {
    text-decoration: none;
    color: lightcoral;
}
a:visited {
    color: lightcoral;
}
a:hover {
      color: black;  
    
}
