body {                    /* set background to black by default */
   background-color: #353434;
}
div.main {                       /* main body structure */
background: #353434; 
position:absolute;
  width:99%;
height:99%;
border: 0px solid #ff0000; 
}
header {                     /* header contains H1 reduce .5% */
    height : 50px;
    width:100%;
    color: #ffffff;
    font-size: 10px;
      background: #353434;
     text-align: center;
position: absolute;
top : 0%;  
    border: 0px solid #ff0000; 
}
nav {                            /* Two link navigation */
     height : 27px;
    width:100%;
    color: #ffffff;
    font-size: 20px;
      background: #353434;
     text-align: center;
position: absolute;
top : 6.5%;      
    border: 0px solid #ff0000; 
}
div.body {                    /* section-ratica-aside frame */
      height : 80%;
    width:100%;
    color: #ffffff;
    font-size: 20px;
      background: #353434;
     text-align: center;
position: absolute;
top : 10%;      
    border: 0px solid #ff00ff;   
}
div.bodyartsec {               /* section-ratica-aside frame  */
      height : 100%;
    width:50%;
    color: #ffffff;
    font-size: 20px;
      background: #353434;
     text-align: center;
position: absolute;
top : 0%;      
    border: 0px solid #ff00ff;   
}
div.bodyartsecright {         /* section-ratica-aside frame right */
      height : 100%;
    width:50%;
    color: #000000;
    text-shadow: 2px 2px 21px #FFFFFF;
    font-size: 20px;
      background: #353434;
     text-align: center;
position: absolute;
left : 50%;      
    border: 0px solid #ff00ff;   
}
div.bast {
     height : 50%;
    width:100%;
    color: #000000;
  text-shadow: 2px 2px 21px #FFFFFF;
    font-size: 32px;
      background: #353434;
     text-align: center;
position: absolute;
left : 0%;      
    border: 0px solid #ff00ff;   
}
div.bastb {
     height : 50%;
    width:100%;
    color: #000000;
    text-shadow: 2px 2px 21px #FFFFFF;
    font-size: 32px;
      background: #353434;
     text-align: left;
position: absolute;
top : 50%;      
    border: 0px solid #ff00ff;   
}
footer { 
height : 90px;
    width:100%;
    color: #ffffff;
    font-size: 20px;
      background: #353434;
     text-align: center;
position: absolute;
bottom : 0;
    border: 0px solid #ff0000;
}
 a {
    text-decoration: none;
     color: #ffffff;
}
a:visited {
    text-decoration: none;
    color: #ffffff;
}
a:active {
    text-decoration: none;
    color: #ffffff;
}   
a:hover {
    text-decoration: none;
    color: #ff0000;
} 

