* {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 500px;
    height: 500px;
  margin: 50px auto;
    border: 0px solid black;
}
.head2 {
  position: absolute;
  width: 100px;
  height: 60px;
    border-radius: 25%;
  border: 1px solid red;
  background: lightgray;
      left: 0;
  right: 0;
  margin: auto;
}
.eyel {
  width: 10px;
  height: 10px;
  border-radius: 50%;  
  background: gray;
  position: absolute;
  top: 15px;
    left: 20px;
   
}
.eyer {
  width: 10px;
  height: 10px;
  border-radius: 50%;  
  background: gray;
  position: absolute;
  top: 15px;
  right: 20px; 
    
}
.earl {
    
  width: 10px;
  height: 20px;
    border-radius: 70%;
  border: 2px solid gray;
  background: gray;
  position: absolute;
  top: 15px;
    left: -10px;
    
}
.earr {
   
  width: 10px;
  height: 20px;
    border-radius: 70%;
  border: 2px solid gray;
  background: gray;
  position: absolute;
  top: 15px;
    right: -10px;
}
.nose {
   position: absolute;
  width: 12px;
  height: 20px;
    border-radius: 50%;
  border: 2px solid gray;
  background: gray;
  top: 25px;
    right: 40px;
}
.mouth {
  position: absolute;
  bottom: 4px;
  width: 27px;
  height: 5px;
  border: 2px solid gray;  
  background: lightgray;
  left: 36px;
}
.chest1 {
    background: url(image/a.gif);
  width: 160px;
  height: 135px;
     border: 0px solid red;
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  margin: auto;
}
.chest2 {
  width: 154px;
  height: 40px;
    border-radius: 45%;
  border: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1px;
    background: lightgray;
}

.chest3 {
  width: 154px;
  height: 20px;
    border-radius: 25%;
  border: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 41px;
    background: lightgray;
}
.chest4 {
  width: 154px;
  height: 20px;
    border-radius: 25%;
  border: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 62px;
    background: lightgray;
}
.chest5 {
  width: 154px;
  height: 20px;
    border-radius: 25%;
  border: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 82px;
    background: lightgray;
}
.chest6 {
  width: 154px;
  height: 30px;
    border-radius: 25%;
  border: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 102px;
    background: lightgray;
}
.armposisionleft {
  left: -67px;
 position: absolute;
  height: 25px;
  width: 70px;
  top: 7px;
border-radius: 25%;
  border: 1px solid red;
    background: lightgray;
}
.jointl {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  background: lightgray;
  border-radius: 50%;
  top: -2px;
    left: -15px;
  z-index: 2;
}
.arm1 {
  height: 20px;
  width: 40px;
    border-radius: 25%;
  border: 1px solid red;
  position: absolute;
  top: 1px;
  z-index: 1;
     left: -47px;
    background: lightgray;
}
.lefthand {
  left: -20px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
    background: yellow;
     width: 28px;
  height: 28px;
  border: 1px solid gray;
  background: white;
  position: absolute;
  top: -6px;
}
.hand1 {
  width: 28px;
  height: 28px;
  border: 1px solid red;
  background: white;
  position: absolute;
  top: -6px;
  background: lightgray;
    left: -29px;
}
.armposisionright {
  left: 157px;
 position: absolute;
  height: 25px;
  width: 70px;
  top: 7px;
border-radius: 25%;
  border: 1px solid red;
    background: lightgray;
}
.joint2 {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  background: lightgray;
  border-radius: 50%;
  top: -2px;
  z-index: 2;
  right: -19px;
}
.arm2 {
  height: 20px;
  width: 35px;
    border-radius: 25%;
  border: 1px solid red;
  position: absolute;
  top: 1px;
  background: lightgray;
     right: -48px;
  z-index: 1;
}
.hand2 {
  width: 28px;
  height: 28px;
  border: 1px solid red;
  background: white;
  position: absolute;
    background: lightgray;
  top: -6px;
    left: 34px;
}

.legcon {
    height: 300px;
    width: 300px;
    border: 0px solid red;
    position: absolute;
    top: 190px;
    left: 100px;
}
.hip {
  width: 120px;
  left: 90px;
  border: 1px solid red;
  height: 20px;
  top: 0px;
    position: absolute;
    background: lightgray;
}
.legl {
    width: 28px;
    height: 80px;
     top: 20px;
    left: 105px;
    position: absolute;
    background: lightgray; 
    border: 1px solid red;
    border-radius: 35%;
}
.legr {
    width: 28px;
    height: 80px;
     top: 20px;
    left: 169px;
    position: absolute;
    background: lightgray; 
    border: 1px solid red;
    border-radius: 35%;
}
.joint3 {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  background: lightgray;
  border-radius: 50%;
  top: 85px;
  z-index: 2;
  right: 168px;
}
.joint4 {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  background: lightgray;
  border-radius: 50%;
  top: 86px;
  z-index: 2;
  right: 104px;
}
.shinr {
    width: 28px;
    height: 80px;
     top: 105px;
    left: 170px;
    position: absolute;
    background: lightgray; 
    border: 1px solid red;
    border-radius: 35%;
}
.shinl {
    width: 28px;
    height: 80px;
     top: 105px;
    left: 105px;
    position: absolute;
    background: lightgray; 
    border: 1px solid red;
    border-radius: 35%;
}
.feetl {
  position: absolute;
  width: 40px;
  height: 11px;
  border: 1px solid red;  
  background: lightgray;
  left: 190px;
top: 375px;
}
.feetr {
  position: absolute;
  width: 40px;
  height: 11px;
  border: 1px solid red;  
  background: lightgray;
  left: 276px;
top: 375px;
}